.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
ehthumbs.db
Desktop.ini

*.mdb
*.userprefs
*.suo
*.cachefile
*.speccache
*.apk

Samples/obj/
Samples/bin/
Libs/ModelViewerAux/bin
Libs/ModelViewerAux/obj
